[context.production.environment]
  HUGO_VERSION = "0.155.2"

[context.deploy-preview.environment]
  HUGO_VERSION = "0.155.2"

[build]
publish = "public"
command = "make build"

[context.deploy-preview]
command = "hugo --buildDrafts --gc --minify --buildFuture --baseURL $DEPLOY_PRIME_URL"

[[redirects]]
from = "/npmjs/*"
to = "/npmjs/"
status = 200
