<script src="https://giscus.app/client.js"
        data-repo="rameezk/blog-comments"
        data-repo-id="R_kgDOIWVKbg"
        data-category="Announcements"
        data-category-id="DIC_kwDOIWVKbs4CSTz_"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="light"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>
<noscript>Please enable JavaScript to view the comments powered by giscus.</noscript>
